html
{
    text-align: center;
    background: url(aizle15.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: blue;
    
      
}
.pic{ 
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block; margin-left: auto; margin-right: auto;
    }
.round
{

    width : 1000px;
    height: 1900px;
    background: rgba(0,0,0,0.4);
    padding : 40px;
    color: white;
    margin: 0 auto;
    margin-top: 50px
}

body{
    overflow-y: scroll;
    padding: 0;
    margin: 10;
    font-display: Verdana;
    font-size: 22px
    width= 960px
    margin= 60px
    text-align= center;
}

@font-face{
    font-display: "Verdana";
    src: url('verdana.eot') format ('embedded-opentype'),
    url('verdana.otf') format('opentype');
}

@font-face{
    font-display: "Verdana";
    font-weight: bold;
    src: url('verdanaBold.otf') format ('opentype'),
   
}


 body{
     color:white;
 }

